.bgimage {
	background-image: url("../UrbanBanner1.png");
	background-position: center center;
	background-size: cover;
	height: 200px;
}

#map {
        height: 90%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

.droptitle {
	font-size: 3em;
	padding-top: 143px;
	padding-bottom: 0px;
	color: #EEE;
}