.bgimage {
	background-image: url("../sunset.png");
	background-position: center center;
	background-size: cover;
	height: 200px;
}

#map {
        height: 90%;
        width: 100%;
        margin: 0;
        padding: 0;
      }